<div data-controller="navbar" class="topnav" id="myTopnav" data-navbar-target="topnav">
  <a href="#home" class="active">Home</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" data-action="click->navbar#toggle">
    <i class="fa fa-bars"></i>
  </a>
</div>
