<h1>Pages#home</h1>

  <div class="banner" data-controller = "banner">
    <div class="banner__images">
      <%= image_tag "banner-1.jpeg", class:"inactive"%>
      <%= image_tag "banner-2.jpeg" %>
    </div>
    <div class="banner__content">
      <h1>Travel. Give-back.</h1>
      <p>Join amazing volunteering oportunities at your destinations</p>
    </div>
  </div>
